* {
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(100ch, 100%) 1fr;
}

header,
footer {
  height: 100px;
  width: 100%;
  grid-column: 1 / 4;
}

.nav,
.content,
.ads {
  height: 500px;
}
