* {
  border: 1px solid black;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
}

header,
footer {
  height: 100px;
}

.nav,
.content,
.ads {
  height: 500px;
}

.nav,
.ads {
  flex: 1;
}

.content {
  flex: 2;
}
